<!DOCTYPE html>
<html lang="en" th:replace="~{handler :: handler(~{::#status},~{::#code}, ~{::#subject}, ~{::#description})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="status">Success</title>
</head>
<body>
    
    <h1 id="code" class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-success-strong">200</h1>
    <div id="subject" class="flex gap-2 items-center justify-center mb-4"> 
        <svg class="w-20 h-20 text-success" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2ZM7.99 9a1 1 0 0 1 1-1H9a1 1 0 0 1 0 2h-.01a1 1 0 0 1-1-1ZM14 9a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2H15a1 1 0 0 1-1-1Zm-5.506 7.216A5.5 5.5 0 0 1 6.6 13h10.81a5.5 5.5 0 0 1-8.916 3.216Z" clip-rule="evenodd"/>
        </svg>
        <p class="mb-4 text-2xl mt-4 tracking-tight font-bold text-success md:text-3xl">Wohoo!!! Email verified successfully... </p>
    </div>
    <p id="description" class="mb-4 text-xl tracking-tight font-bold text-fg-brand md:text-2xl ">Welcome onboard, you can now login and start managing your contacts on cloud, using MyPhoneBuddy....</p>

</body>
</html>